// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body{
	font-family: 'Spartan', sans-serif;
	font-weight: 300;
	color: $dark;
	background-color: $gray-100;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}

.py-6 {
    padding: 4rem 0;

}
.py-7 {
    padding: 5.5rem 0;
}
.py-8 {
    padding: 6rem 0;
}

.pt-6 {
    padding-top: 4rem;
}
.pt-7 {
    padding-top: 5.5rem;
}
.pt-8 {
    padding-top: 6rem;
}

.pb-6 {
    padding-bottom: 4rem;
}
.pb-7 {
    padding-bottom: 5.5rem;  
}
.pb-8 {
    padding-bottom: 6rem;
}

a{
	color: $primary;
	transition: 0.5s;
}
a:hover{
	color: $primary;
}

.btn{
	border-radius: 0 !important;
	border: inherit !important;

	a{
		color: $white !important;
		text-decoration: none;
	}
}
.btn:hover{
	background-color: $dark;
}

.main-btn{
    animation: jump 0.8s infinite alternate;
	transform-origin: center;
}
/* @keyframes beat{
	to { 
		transform: scale(1.1); 
	}
} */
@keyframes jump{
	to { 
		-ms-transform: translate(0,10px); /* IE 9 */
		transform: translate(0,10px); /* Standard syntax */ 
	}
}

h1{
	font-weight: 800;
}
h2{
	font-weight: 800;
}
h3{
	font-weight: 800;
}
h4{
	font-weight: 800;
}
h5{
	font-weight: 800;
}
h6{
	font-weight: 800;
}

.v-bar{
	height: 200px;
	width: 5px;
	background-color: $primary;
}


//Navbar
.navbar{
	padding: 0;
	transition: 0.5s;
}

.navbar-brand{
	color: $white;
	font-weight: 800;
}

.nav-item{
    transition: 0.5s;
	padding: 0;
	font-weight: 500;
    //border-radius: 0.25rem; 

    a{
        color: $white; 
        transition: 0.5s;
    }
}
.nav-item:hover{
    background-color: $primary;

    a{
        color: $dark !important;
    }
}
#menu-item-11{
    &.active{
		//background-color: $primary;
		color: $white !important;
		border-bottom: 3px solid $primary;
	}
}



//Cards
.card-img{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.card-servizi{
	height: 175px;
	background-color: $gray-100;
	border-radius: 0;
	border-top: inherit;
	border-left: inherit;
	border-right: inherit;
	border-bottom: 5px solid $primary;
	transition: 0.5s;
}
.card-servizi:hover{
	background-color: $primary;
	color: $white;
	-ms-transform: translate(0,-10px); /* IE 9 */
	transform: translate(0,-10px); /* Standard syntax */
}

.box-brd-left{
	border-left: 5px solid $primary;
	transition: 0.5s;
}
.box-brd-left:hover{
	background-color: $primary;
	color: $white;
	-ms-transform: translate(10px,0px); /* IE 9 */
	transform: translate(10px,0px); /* Standard syntax */

	button{
		background-color: $warning;
		transition: 0.5s;
	}
	button:hover{
		background-color: $dark;
	}
}

.galleria{
	overflow: scroll !important;
	height: 500px;
}
.card-progetti{
	background-color: $secondary;
	transition: 0.5s;

	div{
		div{
			button{
				transition: 0.5s;
			}
		}
	}
}
.card-progetti:hover{
	transform-origin: center;
	transform: scale(0.9);
}









//Footer
.footer-col{
	ul{
		list-style: none;

		li{
			a{
				color: $white !important;
				text-decoration: none !important;
			}
			a:hover{
				color: $warning !important;
			}
		}
	}
}
.matacotti{
	color: $white !important;
}
.matacotti:hover{
	color: $warning !important;
}
